/* header section */
.header { 
    display: flex;
   
}






   /* failue section */


   .failure-section{

    display: flex;
   


   }

   .failure-tittle{

        margin: 30px 40px 50px 40px;

    }

    .failure-list{
        margin: 30px;
    }








/* footer section */
.footer-section {
    background-color: #151414;
    height: 30%;
    display: flex;
    margin: 50px;
    padding: 150px;
}


.future-section {

    margin-right: 20px;


}

.tittle {
    font-size: 45px;
    font-weight: 700;
    color: #F8F8F8;
  



}

.sub-tittle {
    
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    text-justify: auto;


}

.subscribe {
    font-size: 16px;
    font-weight: 400;
    margin-left: 250px;
    margin-bottom: 150px;


}

h2 {
    color: chartreuse;
}

.btn {

    color: #FFFFFF;
    background-color: orange;
    font-size: 25px;



}